* {
    margin: 0px;
    padding: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.main {
    background-color: #f5f5f5;
    padding: 10px;
    min-height: 400px;

}

.menu-tab {
    width: 100%;
    height: 30px;
    border: 1px solid #008b8b;
    background-color: white;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.search-user {
    width: 100%;
    height: 40px;
    border: 1px solid #008b8b;
    padding-top: 8px;
    padding-left: 10px;
    margin-top: 10px;
}

.content-search {
    width: 100%;
    height: 240px;
    border: 1px solid #008b8b;
    border-top: none;
}

.table-search tr td {
    height: 60px;

}

.table-user table {
    border: 1px solid black;
    margin-top: 10px;
}

.table-user tr th {
    border: 1px solid black;
    width: 200px;
    height: 30px;
    text-align: center;
}

.form_search table tr td {
    padding-left: 10px;
}

.table-user tr td {
    border: 1px solid black;
    width: 200px;
    height: 30px;
    text-align: center;
}

.btn {
    margin-left: 30px;
    width: 100px;
}

.custom-radio label {
    font-weight: normal;
}

.custom-checkbox label {
    font-weight: normal;
}

.paginationn {
    width: 800px;
    background-color: #f5f5f5;
    padding-left: 230px;
    margin-left: -10px;

}

.paginationn li a {
    background: black;
    color: white;
    margin-left: 5px;
}

.fixed-table-body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.fixed-table-container {
    margin-top: 10px;
    margin-left: 15px;
    width: 880px;
    border: 1px solid #008b8b;
}

.sm_delete {
    margin-left: 0px;
    margin-top: 5px;
}

.fixed-table-container thead th .sortable {
    margin-left: 20px;
    padding-right: 18px;
}

.pull-left .page-list .btn-group .btn {
    margin-top: 0px;
}

.bootstrap-table {
    margin-left: -15px;
}

.main-left {
    margin-left: -20px;
    width: 245px;
}

.main-right {

    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.header {
    width: 100%;
}

.acction {
    margin-top: 0px;
    width: 80%;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.btn {
    margin-top: 0px;
}

label {
    font-weight: bold;
}

label span {
    font-weight: normal;
}

.action {
    width: 50px ;
    text-align: center;
    padding: 5px;
    margin-left: 0px;
}
.add-student {
    width: 50%;
    margin-left: 25%;
}
#search{
    width: 84% ;
    float: left;
    margin-bottom: 10px ;
}
.text-center{
    min-height: 165px ;
}
.pagination li:hover{
    cursor: pointer;
}
.pagination li span {
    position: relative;
    float: left;
    padding: 6px 5px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.ul {
    list-style-type: disc;
}
.number-record{
    width: 7%;
    float: left;
}
.pagination-container{
    margin-left: 78%;
}

