*{
	padding: 0px;
	margin: 0px;
}
.container{
	padding-right: 0px;
}
.row{
	margin-left: 0px;
}
.confirm-user{
	width: 100%;
	height: 40px;
	background-color: #f5f5f5 ;
	border: 1px solid #008b8b ;
	margin-right: 0px;
	margin-bottom: 10px;
	padding : 10px 10px;
	
}
.user-confirm-avatar{
	width: 100% ;
	border: 1px solid #008b8b ;
}
.user-confirm-avatar p {
	padding-top: 20px;
	text-align: center;
}
.sm_returnn{
	height: 35px;
	background-color: white ;
	color: black;

	border: 1px solid black ;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;

}
.sm_updatee{
	background-color: #2f4f4f ; 
	border: none; 
	height: 35px; 
	margin-left: 50px;
	color: white;

	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 10px;
}